{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calls</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Aviable</th>
                <td>{{ entity.aviable }}</td>
            </tr>
            <tr>
                <th>Next</th>
                <td>{{ entity.next }}</td>
            </tr>
            <tr>
                <th>Nationalinfo</th>
                <td>{{ entity.nationalInfo }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('calls') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('calls_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
